<head>
  <title>Robert Krabek</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  p{
    font-size: 18px;
  }
  img {
    border-radius: 50%;
  }
  .row-centered {
    text-align:center;
  }
  .col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
  }
  .pic {
    text-align: center;
  }
  .container {
    background: rgba(0,0,0,.5);
  }
  .jumbotron {
    position: relative;
    background: #000 url("http://images5.alphacoders.com/403/403408.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: white;
  }
  </style>
</head>
<body>
<div class="bar">
    <nav role="navigation" class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>
  <div class="jumbotron">
    <div class="pic">
      <img src="http://i.imgur.com/ScHRbBW.png"/>
    </div>
    <div class="container text-center">
      <h1>Robert Krabek</h1>
      <h3>Harvard University '15<br />
      Beijing, China<br />
      Currently based in Boston, MA</h3>
    </div>
  </div>

  <div class="container">
    <div class="row row-centered">
        <div class="col-xs-3 col-centered">
           <p>Hi!
            I'm Robert, a recent graduate from Harvard majoring in neurobiology and minoring in CS. Other interests include lifting, ballroom dance, basketball, travelling, music, and raging. I also now spend a fair amount of time pondering what I will do with my life because I don't have a real job.. so you'll probably find me at the bar. Cheers. 
            <a href="about"> more...</a>
          </p>
        </div>
    </div>
</div>
   <!--  <div class="questions">
      <h2>Why code?</h2>
      <p>I would like to learn to code to be a 1337 h4x0r and to develop usable career skills</p>
      <h2>South Africa</h2>
      <p>Coming to South Africa, I am excited to meet all of you guys and to explore everything that Cape Town has to offer</p>
      <h2>More about me</h2>
      <p>You might not know that I was once nationally ranked #69 in Latin dancing in USA</p>
    </div>
  </div> --> 
</body>